*
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 10px;
}

#grid
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

#sketch-holder canvas
{
    grid-column: 1/2;
    border: 2px black solid;
}

#input-holder
{
    grid-column: 2/3;
}

#input-height-range-holder
{
    grid-column: 3/4;
}