/* ----- */
:root
{
    --color-bg-main: #141d26;
    --color-bg-card: #233343;
    --color-bg-input: #2c4054;
    --color-text-main: #CCCCCC;
    --color-text-alt: #141d26;
    --color-special: #75f075;
    --color-special-alt: #75f0f0;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    margin: 10px;
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    font-family: 'Anonymous Pro', monospace;
}

#grid
{
    display: grid;
    grid-template-columns: 400px 1fr 1fr 1fr;
    grid-gap: 15px;
}

/* Titles */
#main-title
{
    margin-bottom: 10px;

    color: var(--color-text-main);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ui-title
{
    margin-bottom: 10px;

    color: var(--color-text-main);
    font-weight: bold;
}

.card
{
    padding: 10px;
    background-color: #233343;
    border: 2px #CCCCCC solid;
}

/* Containers/Holders - Grid Positioning*/

#gridbox-holder
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr 2fr;
    grid-gap: 15px;

    grid-column: 1/2;
    grid-row: 1;
}

#sketch-holder
{
    grid-column: 1/2;
    border: 2px #CCCCCC solid;
}

#input-visuals-holder
{
    grid-column: 1/2;
    grid-row: 2/3;
}

#cell-info-holder
{
    grid-column: 1/2;
    grid-row: 3/4;
}

#info-box
{
    padding: 10px;
    height: 100%;

    background-color: #1a2632;
    border: 1px #CCCCCC solid;
    border-radius: 5px;
}

#input-noise-shape-holder
{
    grid-column: 2/3;
    grid-row: 1;
}

#input-height-range-holder
{
    grid-column: 3/4;
    grid-row: 1;
}

#input-visuals-color-holder
{
    grid-column: 4/5;
    grid-row: 1;
}

#footer
{
    grid-column: 1/5;   
}

/* Precise Positioning */

#sketch-holder canvas
{
    padding-bottom: 4px;
}

#input-visuals-holder input
{
    margin-right: 10px;
    margin-left: 5px;
}

#checkbox-outline
{
    margin-right: 10px;
    margin-top: 5px;
}

#checkbox-gradient input
{
    margin: 10px;
    margin-left: 0px;
}

#input-noise-shape-holder input
{
    margin-bottom: 10px;
}

#input-noise-shape-holder .button
{
    margin-top: 10px;
}

#cell-info-holder p
{
    margin-bottom: 10px;
}

#input-height-range-holder input
{
    margin-bottom: 10px;
}

#input-visuals-color-holder input
{
    margin-top: 3px;
    margin-bottom: 3px;
}

/* Input Elements & Links */

a
{
    color: var(--color-special);
    text-decoration: none;
}

a:hover
{
    color: var(--color-special-alt);
}

.checkbox input
{
    outline: none;
}

.button
{
    padding: 5px;

    background-color: #CCCCCC;
    border: none;
    border-radius: 5px;
    color: var(--color-text-alt);
    outline: none;

    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
}

.button:hover
{
    background-color: #FFFFFF;
}

.radio
{
    outline: none;
}

.slider 
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background-color: #CCCCCC;
    outline: none;
}

.slider::-webkit-slider-thumb 
{
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    background: #CCCCCC;
    border: 1px #999999 solid;
    border-radius: 2.5px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover
{
    background-color: #FFFFFF;
}

.textfield
{
    padding: 2px;
    width: 100%;
    background-color: var(--color-bg-input);
    border: 1px #CCCCCC solid;
    color: #CCCCCC;
    outline: none;
}

/* Responsive */

@media only screen and (max-width: 1000px) 
{
    #grid
    {
        grid-template-columns: 1fr 400px 1fr;
    }

    #main-title
    {
        display: grid;
        justify-content: center;
    }

    #gridbox-holder
    {
        grid-column: 2/3;
        grid-row: initial;
    }

    #sketch-holder
    {
        grid-row: 1/2;
    }

    #input-visuals-holder
    {
        grid-row: 2/3;
    }

    #cell-info-holder
    {
        grid-row: 3/4;
    }

    #input-noise-shape-holder
    {
        grid-row: 2/3;
    }  

    #input-height-range-holder
    {
        grid-column: 2/3;
        grid-row: initial;
    }

    #input-visuals-color-holder
    {
        grid-column: 2/3;
        grid-row: initial;
    }

    #footer
    {
        grid-column: 2/3;
    }
}